[submodule "chisel3"]
	path = dependencies/chisel3
	url = git@github.com:chipsalliance/chisel3.git
	branch = master
[submodule "firrtl"]
	path = dependencies/firrtl
	url = git@github.com:chipsalliance/firrtl.git
	branch = master
[submodule "treadle"]
	path = dependencies/treadle
	url = git@github.com:chipsalliance/treadle.git
	branch = master
[submodule "chisel-testers2"]
	path = dependencies/chisel-testers2
	url = git@github.com:ucb-bar/chisel-testers2.git
	branch = master
[submodule "api-config-chipsalliance"]
	path = dependencies/api-config-chipsalliance
	url = git@github.com:chipsalliance/api-config-chipsalliance.git
	branch = master
[submodule "dependencies/difftest"]
	path = dependencies/difftest
	url = git@github.com:SingularityKChen/difftest.git
	branch = ysyx
[submodule "AM/am-kernels"]
	path = AM/am-kernels
	url = git@github.com:NJU-ProjectN/am-kernels.git
[submodule "AM/abstract-machine"]
	path = AM/abstract-machine
	url = git@github.com:SingularityKChen/abstract-machine.git
	branch = ysyx2021
[submodule "NEMU"]
	path = NEMU
	url = git@github.com:OpenXiangShan/NEMU.git
	branch = xs
[submodule "AM/riscv-tests"]
	path = AM/riscv-tests
	url = git@github.com:NJU-ProjectN/riscv-tests.git
[submodule "AM/fceux-am"]
	path = AM/fceux-am
	url = git@github.com:SingularityKChen/fceux-am.git
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = git@github.com:OpenXiangShan/DRAMsim3.git
[submodule "AM/oscpu-framework"]
	path = AM/oscpu-framework
	url = git@github.com:OSCPU/oscpu-framework.git
